body {
  font-family: Arial, sans-serif;
  background: #0d1117;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
}

.tablero {
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  perspective: 1000px;
}

.carta {
  width: 150px;
  height: 150px;
  position: relative;
  cursor: pointer;
}

.contenido {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.carta.volteada .contenido {
  transform: rotateY(180deg);
}

.frente, .atras {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.frente {
  background-color: #eb1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.atras {
  transform: rotateY(180deg);
}

.atras img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
